/* Some loud comment here */
// And silent one

$padding: 1% !default;
@import 'variables';

.large-text {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: #ff0000;
}

#main a.class:visited span[lang='en'] {
  @extend .shadow !optional;
  + large-text {
    p.info {
      color: #00ddcc;
    }
    width: 97% !important;
  }

  @mixin with-shadow($color: black) {
    box-shadow: $color, 1px, 2px, 3px;
  }

  .shadowBlock {
    @include with-shadow(blue);

    $grid-width: 40px;
    $gutter-width: 10px;

    @function grid-width($n) {
      $grid-width: 10px !global;
      @return $n * $grid-width + ($n - 1) * $gutter-width;
    }
    @for $i from 1 through 3 {
      ul:nth-child(3n + #{$i}) {
        background-color: lighten($base-color, $i * 5%);
      }
    }
  }
}

@font-face {
  font-family: DroidSans;
  src: url(DroidSans.ttf);
  unicode-range: U+000-5FF, U+1e00-1fff, U+2000-2300;
}
